Pipfile.lock
Session.vim
tags
Public/
bin/
export/
fonts/
go/
google-cloud-sdk/
midi/
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
projects
keys/
.Trash
.CFUserTextEncoding
.DS_Store
.azure/
.bash_history
.boto
.cache/
.config/
.cups/
.docker/
.envrc
.fzf.bash
.fzf.zsh
.fzf/
.gem/
.gitconfig
.gsutil/
.krew/
.kube/
.lesshst
.local/
.m1-terraform-provider-helper/
.mypy_cache
.npm/
.oh-my-zsh/
.prompt_command
.pyenv/
.pytest_cache
.python-version
.python_history
.secureConnect/
.shell.pre-oh-my-zsh
.ssh/
.sso/
.terraform.d/
.tmux/
.vim/
.viminfo
.viminfo.tmp
.viminfz.tmp
.zcompdump-djrut-macbookpro3-5.8.1
.zprofile
.zsh_history
.zsh_history.LOCK
.zshrc.backup
.vscode*
.anyconnect
.cisco
OneDrive - H-E-B
